<% provide :title, t(".title") %>
<% provide :button_text, t(".save")%>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div class="dv1">
    <%= t ".infor" %>
  </div>
</div>
<br>
<div class="signup">
  <%= render "form_edit" %>
</div>
