<%= provide :title, t(".create") %>
<% provide :button_text, t(".create") %>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div>
    <span><%= t ".logo" %></span>
    <%= t ".logo1" %>
  </div>
</div>
<br>

<div class="signup">
  <%= render "form_signup" %>
</div>
