<% if object.errors.present? %>
  <div id="error_explanation">
    <ul>
      <% object.errors.full_messages.each do |errors| %>
        <li><%= errors %></li>
      <% end %>
    </ul>
  </div>
<% end %>
