<li>
  <%= link_to course.id, "#" %>
  .
  <%= link_to course.name_course, course %>
  <% if current_user.trainer? %>
    | <%= link_to t(".delete"), course, method: :delete, data: {confirm: t(".confirm")} %>
  <% end %>
  <p><%= course.info_detail %></p>
</li>
