@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;

/* Header*/

.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 100px);
  z-index: 2;
}

.header div{
  margin-top: -180px;
  margin-left: -120px;
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}
.header .dv1{
  margin-top: -180px;
  margin-left: -80px;
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}
.alert{
  position: absolute;
  z-index: 99;
}
.header div span{
  color: #5379fa !important;
}

/* background */

.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: 1000px;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    -webkit-filter: blur(5px);
    z-index: 0;
}
.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: 1000px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

/* Course index */
.course{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #0000;
  }
 }

.ls-all {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

.ls-sub {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

table {
  width: 100%;
}

th {
  text-align: center;
}

td {
  width: 33.3333%;
}

/* Sign in */
.login{
  margin-top: -150px;
  text-align: full-center;
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% - 200px);
  height: 250px;
  width: 350px;
  z-index: 2;
  border: solid 0.5px;
  border-radius: 15px;
  padding:50px 0px 20px 50px;
  background:rgba(5,5,5,.8);
}

.login input[type=text]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}


.login input[type=submit]{
  width: 260px;
  height: 50px;
  background: #fff;
  /*border: 1px solid #fff;*/
  cursor: pointer;
  border-radius: 2px;
  /*color: #a18d6c;*/
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;

  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.login input[type=submit]:hover{
  /*opacity: 0.8;*/
  color: #fff;
  outline: 0;
  background-position: 0;
}

.login input[type=submit]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
  /*outline: none;*/
  color: #FA5858;
  outline: 0;
}

.login span{
  color: #FAAC58;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

/* Sign up */

.signup{
  margin-top: -150px;
  text-align: full-center;
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% - 200px);
  height: auto;
  width: 350px;
  z-index: 2;
  border: solid 0.5px;
  border-radius: 15px;
  padding:50px 0px 20px 50px;
  background:rgba(5,5,5,.8);
}

.signup input[type=text]{
  width: 260px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.signup input[type=password]{
  width: 260px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}


.signup input[type=submit]{
  width: 260px;
  height: 50px;
  background: #2ECCFA;
  /*border: 1px solid #fff;*/
  cursor: pointer;
  border-radius: 2px;
  /*color: #a18d6c;*/
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;

  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.signup input[type=submit]:hover{
  /*opacity: 0.8;*/
  color: #fff;
  outline: 0;
  background-position: 0;
}

.signup input[type=submit]:active{
  opacity: 0.6;
}

.signup input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.signup input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.signup input[type=submit]:focus{
  /*outline: none;*/
  color: #FA5858;
  outline: 0;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo{
  font-size: 2.0em;
  text-align: center;
  font-weight: bold;
  colot: #F7819F
}

/* footer */

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Course index */
.course {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
 }
View

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
 @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.form-img{
  margin-left: 75px;
}
.form-img .picture{
  padding-top: 200px;
}
input[type="file"] {
     padding-top: 8px;
}
